@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');


* {
    margin: 0;
    color: white;
}

body {
    font-family: "Zen Dots", serif;
    background-color: #000000;
}

:root {
    /* h1 */
    --size-h1: 100px;
    --weight-h1: 400;
    --height-h2: 100px;

    /* h2 */
    --size-h2: 55px;
    --weight-h2: 400;
    --height-h2: 60.5px;
}

/* background */
#background1 {
    width: 100%;
    background-image: url(/img/header\,section1-background.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background2 {
    max-width: 1920px;
    margin: auto;
    background-image: url(/img/section2\,3-background1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

#background3 {
    max-width: 1920px;
    margin: auto;
    background-image: url(/img/section2\,3-background2.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-section4 {
    background-image: url(/img/background-dernier.jpg);
    max-width: 1920px;
    margin: auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */
header {
    max-width: 1340px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat", serif;
}

header > a {
    align-content: center;
}

#active {
    color: #FD307A;
}

header ul {
    padding: 15px;
    display: flex;
    gap: 25px;
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: white;
}

/* MAIN */
/* Section1 */
#section1 {
    max-width: 1000px;
    margin: auto;
    height: 740px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
}

#section1 p {
    font-family: "Zen Dots", serif;
}

#section1 h1 {
    font-size: var(--size-h1);
    font-weight: var(--weight-h1);
    line-height: 100px;
}

#section1 article p {
    padding-bottom: 30px;
}

#section1 article h1 {
    font-family: "Zen Dots", serif;
    padding-right: 198px;
    padding-bottom: 75px;
}

#section1-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin-bottom: 50px;
}

.section1-container-sous {
    padding: 30px 50px;
    border: 1px #867D76 solid;
}

#section1 article p:nth-child(1) {
    color: #FD307A;
}

/* section2 */
#section2 {
    max-width: 1150px;
    margin: auto;
}

#section2-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    align-items: center;
}

#section2-container p {
    padding: 75px 0 20px;
}

#section2-container h2 {
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
    line-height: 60px;
}

/* section3 */
#section3 {
    max-width: 1920px;
    margin:auto;
}

#article1 {
    max-width: 1000px;
    margin: auto;
}

#article1 h2 {
    padding-top: 100px;
font-size: 14px;
font-weight: 400;
line-height: 17.5px;
letter-spacing: 5px;
}

#section3 #article1 p {
    font-size: var(--size-h2);
    font-weight: var(--weight-h2);
    padding-bottom: 50px;
}

#article2 {
    max-width: 1000px;
    margin: auto;
}

#article2 nav ul{
    list-style: none;
    padding: 0;
}
.submain {
    display: none;
}

.jojo:hover .submain{
    display: block;
}

.jojo{
    border-bottom: 1px solid #363636;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.jojo-text {
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 25px;
}
/* section4 */

#section4 {
    max-width: 1920px;
    margin: auto;
}

#section4-header {
    display: flex;
    padding: 30px 15px;
    justify-content: space-between;
}

#section4-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#background-project {
    background-image: url(/img/background-project.jpg);
    min-height: 507px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#background-project p:nth-child(1) {
    color: #FD307A;
}

#background-project p:nth-child(3) {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}

#background-project2 {
    background-image: url(/img/background-project2.jpg);
    min-height: 507px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#background-project2 p:nth-child(1) {
    color: #FD307A;
}

#background-project2 p:nth-child(3) {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}



#background-project3 {
    background-image: url(/img/background-project3.jpg);
    min-height: 507px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#background-project3 p:nth-child(1) {
    color: #FD307A;
}

#background-project3 p:nth-child(3) {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}


#background-project4 {
    background-image: url(/img/background-project4.jpg);
    min-height: 507px;
    background-size:contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#background-project4 p:nth-child(1) {
    color: #FD307A;
}

#background-project4 p:nth-child(3) {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}



/* section5 */
#section5 {
    max-width: 1000px;
    margin: auto;
}

#section5 > p{
    padding: 100px 0 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.5px;
    letter-spacing: 5px;
}

#section5 h2{
    font-size: 55px;
    font-weight: 400;
    line-height: 60.5px;
    padding-bottom: 50px;
}

#section5 h3{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 25px;
}

#section5 p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    padding-bottom: 25px;
}

#section5-container {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.container-partenaire {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#section5-container2 {
    padding-bottom: 100px;
}

/* section6 */
#section6 {
    height: 756px;
    width: 100%;
    background-image: url(/img/background-section6.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#section6-opacity {
    background-color: #0000003D;
    height: 756px;
    width: 100%;
    display: flex;
}

#section6 article {
    text-align: center;
    max-width: 720px;
    margin: auto;
}

#section6 h2 {
font-size: 55px;
font-weight: 400;
line-height: 60.5px;
padding-bottom: 30px;
}

#section6 p {
font-family: Montserrat;
font-size: 16px;
font-weight: 500;
line-height: 25.6px;
padding-bottom: 30px;
}

/* footer */
footer {
    max-width: 1920px;
    margin: auto;
    padding: 100px 10px 100px;
    background-color: #293445;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

footer img{
    padding-bottom: 15px;
}

footer h2{
    padding-bottom: 15px;
}

footer p {
    color: #A5B8D2;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
}


footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
}

footer nav a {
    text-decoration: none;
    color: #A5B8D2;
    margin-bottom: 10px;
}

/* Responsive */
/* Tablette */
@media screen and (max-width:1024px){
    #section1 {
        align-items: baseline;
    }

    #section1 h1 {
        font-size: 75px;
    }
    
    #section1 article h1 {
        padding-right: 0;
    }

    .section1-container-sous {
        padding: 14px 14px;
    }
    
    #section2-container img {
        width: 100%;
    }
    
    .container-partenaire {
        grid-template-columns: repeat(2, 1fr);
    }

    #background-project {
        min-height: 300px;
    }

    #background-project2 {
        min-height: 300px;
    }

    #background-project3 {
        min-height: 300px;
    }

    #background-project4 {
        min-height: 300px;
    }
}

/* Téléphone */
@media screen and (max-width:767px){
    header nav a {
        display: none;
    }
    
    #section1-container {
        grid-template-columns: 1fr;
    }

    #section2-container h2 {
        font-size: 30px;
    }

    #section2-container {
        grid-template-columns: 1fr;
    }

    #section3 #article1 p {
        font-size: 30px;
    }

    #section4-header {
        padding: 30px 0;
    }

    #section4-container {
        grid-template-columns: 1fr;
    }

    #section5 h2 {
        font-size: 40px;
    }

    #section5-container {
        grid-template-columns: 1fr;
    }

    .container-partenaire {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    #section6 h2 {
        font-size: 27px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 35px;
    }
}